---
title: "Calamares"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.7"
  overlay_image: /assets/images/banner.png
  actions:
    - label: "<i class='fas fa-info-circle'></i> Intro"
      url: "#one"
    - label: "<i class='fas fa-image'></i> Gallery"
      url: "#gallery"
    - label: "<i class='far fa-newspaper'></i> Latest News "
      url: "#news"
caption: "Locale Module"
excerpt: "Calamares aims to be easy, usable, beautiful, pragmatic, inclusive and distribution-agnostic"
intro:
  - excerpt: 'The idea of Calamares arose from a desire of several independent Linux distributions to come together and work on a shared system installer. Instead of everyone working on their own implementation and forking forks of forks, why not work together on something that can be used by many? '
feature_row:
  - image_path: /assets/images/mm-customizable-feature.png
    alt: "placeholder image 1"
    title: "What is Calamares"
    excerpt: "Calamares is an installer framework. By design it is very customizable, in order to satisfy a wide variety of needs and use cases. Calamares aims to be easy, usable & beautiful."
    url: "/about#what-is-calamares"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--small"
  - image_path: /assets/images/mm-free-feature.png
    alt: "placeholder image 2"
    title: "What Calamares is not"
    excerpt: "Calamares is not a Manjaro Linux installer, or a KaOS installer, or a Maui installer, or even an installer for Arch Linux based distributions. Calamares is an independent product."
    url: "/about#what-calamares-is-not"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--small"
  - image_path: /assets/images/mm-responsive-feature.png
    title: "Calamares look"
    excerpt: "Since Calamares is designed to be customized, themed and branded by individual distributions, it can look very different when used by specific distributions."
    url: "/about/#what-does-calamares-look-like"
    btn_label: "Read More"
    btn_class: "btn--inverse btn--small"
gallery:
  - url: /images/2020/gallery-1.png
    image_path: /images/2020/gallery-1-th.png
    alt: "KaOS Welcome Screen"
    title: "KaOS Welcome Screen"
  - url: /images/2020/gallery-2.png
    image_path: /images/2020/gallery-2-th.png
    alt: "placeholder image 2"
    title: "Image 2 title caption"
  - url: /assets/images/unsplash-gallery-image-3.jpg
    image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    alt: "placeholder image 3"
    title: "Image 3 title caption"
  - url: /assets/images/unsplash-gallery-image-1.jpg
    image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 4"
    title: "Image 4 title caption"
  - url: /assets/images/unsplash-gallery-image-2.jpg
    image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 5"
    title: "Image 5 title caption"
  - url: /assets/images/unsplash-gallery-image-3.jpg
    image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    alt: "placeholder image 6"
    title: "Image 6 title caption"
  - url: /assets/images/unsplash-gallery-image-1.jpg
    image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 7"
    title: "Image 7 title caption"
  - url: /assets/images/unsplash-gallery-image-2.jpg
    image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 8"
    title: "Image 8 title caption"
  - url: /assets/images/unsplash-gallery-image-3.jpg
    image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    alt: "placeholder image 9"
    title: "Image 9 title caption"
  - url: /assets/images/unsplash-gallery-image-1.jpg
    image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 10"
    title: "Image 10 title caption"
  - url: /assets/images/unsplash-gallery-image-2.jpg
    image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 11"
    title: "Image 11 title caption"
  - url: /assets/images/unsplash-gallery-image-3.jpg
    image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    alt: "placeholder image 12"
    title: "Image 12 title caption"
---

<div class="feature__wrapper feature__item--center">
    <a href="https://github.com/calamares/calamares/releases"><img alt="GitHub release (latest by date)" src="https://img.shields.io/github/v/release/calamares/calamares?style=social"></a>
    <img alt="GitHub Release Date" src="https://img.shields.io/github/release-date/calamares/calamares?style=social">
</div>

{% include feature_row id="intro" type="center" %}

<div id="one">
  {% include feature_row %}
</div>

<div class="feature__wrapper" id="gallery">
  <h1>Gallery</h1>
  {% include gallery %}
</div>

<div class="feature__wrapper" id="news">
  <h2>Latest News Article:</h2>
  {% assign post = site.posts.first %}
  {% assign content = post.excerpt %}
  {% include post_detail.html %}
  <nav><a href="{{ root_url }}{{ post.url }}" class="btn btn--inverse">Read More</a>
  <a href="/news" class="btn btn--inverse">All News</a></nav>
</div>
